/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fdf6e3 ;
  font: 13.34px 'Open Sans', sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { text-decoration: none; }
a         { color: #268bd2; }
a:hover   { color: #2aa198; text-decoration: underline; }
a:visited { color: #2aa198; }

header {
  width: 675px;
  height: 22px;
  background: url(header.svg);
}

footer {
  height: 50px;
}

.left {
  float: left;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
article h1 {
  margin-top: 50px;
  font-size: 150%;
  color: #073642;
}

article time {
  color: #839496;
  font-size: 80%;
}

article pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

article ul, article ol {
  margin-left: 1.35em;
}

article code {
  background-color: #eee8d5;
  padding: 0 .2em;
}

article pre code {
  border: none;
}

/* terminal */
article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

article pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* GIST
/*
/*****************************************************************************/
.gist .gist-data,
.gist .line-data,
.gist .line-numbers,
.gist .line,
.gist .gist-meta {
  background-color: #eee8d5 !important;
  background-image: none !important;
}

.gist .gist-file {
  border: none !important;
}

.gist .line-numbers,
.gist .gist-data {
  border: none !important;
}
